.badge-dot i {
  display: inline-block;
  vertical-align: middle;
  width: .375rem;
  height: .375rem;
  border-radius: 50%;
  margin-right: .375rem;
}

.avatar-sm {
  width: 26px;
  height: 26px;
  font-size: 0.875rem;
  display: inline-block;
}

.avatar-group .avatar {
  position: relative;
  z-index: 2;
}

.avatar-group .avatar:hover {
  z-index: 3;
}

.avatar-group .avatar+.avatar {
  margin-left: -1rem;
}

.bg-dark-blue {
    background: #1c1e2f;
}

.icon-shape {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.icon {
    width: 3rem;
    height: 3rem;

}

.fa-1fourx {
    font-size: 1.4em;
}

.btn.btn-icon-split {
    margin-right: 0.2rem;
}

.edit-opacity {
    opacity: 0.8;
}

.edit-margin {
    margin-right: 0.4rem;
}

.deployments_brand_img {
    height: 80%;
}

.incident-cog {
    margin-bottom: -1.2rem;
    margin-right: 0.4rem;
    z-index: 999;
}

input[type=checkbox][disabled]{
  cursor: not-allowed;
}

tr:hover {
    cursor: pointer;
    background-color: #f6f8fe !important;
}

.clock {
    margin-top: 1rem !important;
    margin-bottom: 1.7rem !important;
}

.not-pinned {
    text-shadow: 0px 0px 1px black, 0px 0px 1px black;
    color: white;
}