<li>
    <div>
        <i class="fas text-gray-300 fa-1fourx fa-plus-circle activity-icon"></i>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object rounded-circle" src="{{ action.user.get_avatar() }}" alt="Avatar">
                </a>
            </div>
            <div class="media-body">
                {{ moment(action.occurred_at).fromNow(refresh=True) }}
            </div>
            <span class="card-text"><a href="#">{{ action.user }}</a> {{ action }}</span>
        </div>
    </div>
</li>