{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/temp.css">
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css"/>
{% endblock %}
{% block heading %}
<a href="#newIncidentModal" data-toggle="modal" data-target="#newIncidentModal" class="btn btn-icon-split btn-success mb-1">
	<span class="btn-icon">
	<i class="fas fa-plus"></i>
	</span>
	<span class="text">New Incident</span>
</a>
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-s font-weight-bold text-primary text-uppercase mb-1">Total Incidents</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{ incidents|length }}</div>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-primary text-white rounded-circle shadow">
							<i class="fas fa-1fourx fa-clone"></i>
						</div>
					</div>
				</div>
				<p class="mt-3 mb-0 text-muted">
					<span class="text-{{ incidents_stat[0] }} mr-2"><i class="fa {% if incidents_stat[1] %}fa-{{ incidents_stat[1] }}{% endif %}"></i> {{ incidents_stat[2] }}</span>
					<span class="text-nowrap">since last hour</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-s font-weight-bold text-warning text-uppercase mb-1">Response Time</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">WIP</div>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-warning text-white rounded-circle shadow">
							<i class="fas fa-1fourx fa-hourglass-end"></i>
						</div>
					</div>
				</div>
				<p class="mt-3 mb-0 text-muted">
					<span class="text-warning mr-2"><i class="fa"></i> 0%</span>
					<span class="text-nowrap">since last hour</span>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Incidents</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table row-border" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th scope="col">
							Pinned
						</th>
						<th scope="col">
							Incident Title
						</th>
						<th scope="col">
							Location
						</th>
						<th scope="col">
							Priority
						</th>
						<th scope="col">
							Assigned To
						</th>
						<th scope="col">
							Tasks
						</th>
						<th scope="col">
							Last Updated
						</th>
						<th scope="col" class="d-none"></th>
					</tr>
				</thead>
				<tbody class="list">
					{% for incident in incidents %}
					<tr data-href="{{ url_for('view_incident', deployment_name=deployment.name, deployment_id=deployment.id, incident_name=incident.name, incident_id=incident.id) }}">
						<th scope="row">
							{% if current_user in incident.pinned %}
							<i class="fas fa-bookmark"></i>
							{% else %}
							<i class="far fa-bookmark"></i>
							{% endif %}
						</th>
						<td scope="row">
							{{ incident.name }}
						</td>
						<td scope="row">
							<span class="font-smaller">{{ incident.location }}</span>
						</td>
						<td class="status">
							<span class="badge badge-dot mr-4">
							<i class="bg-{{ incident.priority }}"></i> {{ incident.priority }}
							</span>
						</td>
						<td>
							{% if incident.assigned_to %}
							<div class="avatar-group">
								{% for user in incident.assigned_to %}
								<a href="#" class="avatar avatar-sm" data-toggle="tooltip"
									data-original-title="{{ user }}">
								<img alt="Avatar" src="{{ user.get_avatar() }}" class="rounded-circle avatar-sm">
								</a>
								{% endfor %}
							</div>
							{% else %}
							Unassigned
							{% endif %}
						</td>
						<td class="completion">
							<div class="d-flex align-items-center">
								{% include 'percentage.html' %}
							</div>
						</td>
						<td class="status">
							{{ moment(incident.last_updated).fromNow(refresh=True) }}
						</td>
						<td class="d-none">
							{{ incident.last_updated.timestamp() }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block modals %}
<!-- New Incident Modal -->
<div class="modal fade" id="newIncidentModal" tabindex="-1" role="dialog" aria-labelledby="newIncidentModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">New Incident Report</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="newIncidentForm" method="post" role="form">
							<div class="form-group mb-3">
								<input class="form-control was-validated" name="name" placeholder="Incident Name" type="text" required>
							</div>
							<textarea class="form-control" rows="3" name="description" placeholder="Description"></textarea>
							<div class="form-group my-3">
								<select id="newIncidentCategory" name="category" style="width: 100%">
									<optgroup label="Transport Disruption">
										<option value="Road Incident"><i class="fas fa-car"></i> Road Obstruction/Closure/Disruption</option>
										<option value="Rail Incident">Railway Incident / Disruption</option><i class="fas fa-subway"></i>
										<option value="Aviation Incident">Aviation Incident / Disruption</option><i class="fas fa-plane"></i>
										<option value="Maritine Incident">Maritine Incident / Disruption</option><i class="fas fa-ship"></i>
									</optgroup>
									<optgroup label="Severe Weather">
										<option value="Snow / Ice">Snow / Ice</option><i class="fas fa-snowflake"></i>
										<option value="Severe Wind">Severe Wind</option><i class="fas fa-wind"></i>
										<option value="Rain / Flooding">Rain / Flooding</option><i class="fas fa-cloud-showers-heavy"></i>
									</optgroup>
									<optgroup label="General Incident">
										<option value="Industrial">Industrial</option><i class="fas fa-industry"></i>
										<option value="Major Accident Hazard Pipeline">Major Accident Hazard Pipeline</option>
										<option value="Nuclear Incident">Nuclear Incident</option><i class="fas fa-radiation"></i>
										<option value="Fire/Explosion">Fire/Explosion</option><i class="fas fa-fire"></i>
										<option value="Building Collapse">Building Collapse</option><i class="fas fa-building"></i>
										<option value="Reservoir">Reservoir</option>
									</optgroup>
									<optgroup label="Fuel / Utilities">
										<option value="Fuel Disruption">Fuel Disruption</option><i class="fas fa-gas-pump"></i>
										<option value="Power Outage">Power Outage</option><i class="fas fa-plug"></i>
										<option value="Gas Supply Interruption">Gas Supply Interruption</option>
										<option value="Public Water Supply">Public Water Supply</option><i class="fas fa-water"></i>
										<option value="Private Water Supply">Private Water Supply</option><i class="fas fa-water"></i>
										<option value="Telecoms Outage">Telecoms Outage</option><i class="fas fa-phone-slash"></i>
										<option value="Blackstart">Blackstart</option>
									</optgroup>
									<optgroup label="Human Health">
										<option value="Pandemic">Pandemic</option>
										<option value="Food Contamination">Food Contamination</option><i class="fas fa-utensils"></i>
										<option value="Exotic Notification Disease">Exotic Notification Disease</option>
									</optgroup>
									<optgroup label="Crime & Disorder">
										<option value="Terrorism">Terrorism</option>
										<option value="Cyber Attack">Cyber Attack</option>
										<option value="Public Disorder">Public Disorder</option>
										<option value="Protest">Protest</option>
									</optgroup>
									<optgroup label="People">
										<option value="Fatalities">Fatalities</option>
										<option value="Casualties">Casualties</option><i class="fas fa-first-aid"></i>
										<option value="Missing Person(s)">Missing Person(s)</option>
										<option value="Resque Required">Resque Required</option>
										<option value="Evacuation">Evacuation</option>
										<option value="Rest Centre Activation">Rest Centre Activation</option>
										<option value="Survivor Reception Centre Activation">Survivor Reception Centre Activation</option>
										<option value="Friends & Family Reception Centre Activation">Friends & Family Reception Centre Activation</option>
										<option value="Humanitarian Assistance Centre Activation">Humanitarian Assistance Centre Activation</option>
										<option value="Casualty Bureau Activation">Casualty Bureau Activation</option>
										<option value="General Welfare Provision">General Welfare Provision</option>
										<option value="Vaccination">Vaccination</option>
									</optgroup>
									<optgroup label="Communications">
										<option value="Press Release">Press Release</option><i class="fas fa-newspaper"></i>
										<option value="SitRep Required">SitRep Required</option>
										<option value="Social Media">Social Media</option>
										<option value="DGVOST Activation">DGVOST Activation</option>
									</optgroup>
									<optgroup label="Animal Health">
										<option value="Control Zones">Control Zones</option>
										<option value="Surveillance Zones">Surveillance Zones</option><i class="fas fa-video"></i>
										<option value="Movement Restrictions">Movement Restrictions</option>
										<option value="Cull">Cull</option>
										<option value="Disposal">Disposal</option>
										<option value="Disinfection">Disinfection</option>
										<option value="Animal Welfare">Animal Welfare</option>
									</optgroup>
									<optgroup label="Environmental">
										<option value="Plume">Plume</option>
										<option value="Radiation Pollution">Radiation Pollution</option><i class="fas fa-radiation-alt"></i>
										<option value="Hazardous Chemical Pollution">Hazardous Chemical Pollution</option>
										<option value="Oil Pollution">Oil Pollution</option>
										<option value="Sewage / Slurry">Sewage / Slurry</option>
									</optgroup>
								</select>
							</div>
							<div class="form-group mt-3 mb-3">
								<input class="form-control" name="reported_via" placeholder="Reported Via" type="text" required>
							</div>
							<div class="form-group mb-3">
								<input class="form-control" name="reference" placeholder="Reference (Optional)" type="text">
							</div>
							<span id="LocationNotChosen" class="text-danger d-none">Please select the location of the incident.</span>
							<div id="Map" class="map-container"></div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/bootstrap-notify.js"></script>
<script type="text/javascript" charset="utf-8">
	var deployment_id = {{ deployment.id }}
	var socket = io()

    socket.on("connect", function() {
        socket.emit("join", {'type': 1, 'deployment_id': deployment_id})
    })

	function recieve(data) {
		if (data['code'] == 200) {
			console.log(data)
			return true
		} else {
			console.log(data['code'] + ': ' + data['message'])
			return false
		}
	}

	$('#newIncidentForm').submit( function(e) {
	    e.preventDefault();
	    if (!new_incident_location) {
	    	$('#LocationNotChosen').removeClass('d-none')
	    	return;
	    }
	    $('#newIncidentModal').modal('hide')
		socket.emit('create_incident', {'name': $(this).serializeArray()[0]['value'], 'location': new_incident_location['place_name'], 'geometry': new_incident_location['geometry']['coordinates'], 'description': $(this).serializeArray()[1]['value'], 'type': $('#newIncidentCategory').val(), 'reported_via': $(this).serializeArray()[2]['value'], 'reference': $(this).serializeArray()[3]['value'], 'deployment_id': deployment_id})
		$('#LocationNotChosen').addClass('d-none')
		$('#newIncidentForm').get(0).reset()
		{% if not current_user.has_permission('supervisor') %}
		$.notify({message: 'Your incident has been sent to a supervisor!'},{type: 'success'});
		{% endif %}
	});

	{% if current_user.has_permission('supervisor') %}
	socket.on('redirect_incident', function(data) {
		if (recieve(data)) {
			window.location.href = data['url'];
		}
	});
	{% endif %}

	socket.on('create_incident', function(data) {
		if (recieve(data)) {
			$('#dataTable').DataTable().row.add([
            '<i class="far fa-bookmark"></i>',
            data['name'],
            data['location'],
            data['priority'],
            data['assigned_to'],
            data['tasks'],
            data['last_updated'],
            data['last_updated_timestamp']
        ] ).draw()
        flask_moment_render_all();
		}
	});

	socket.on('action_required_count', function(data) {
		if (recieve(data)) {
			if (data['count'] == 0) {
				$('#ActionsRequiredCounter').addClass('d-none');
			} else if ($('#ActionsRequiredCounter').hasClass('d-none')) {
				$('#ActionsRequiredCounter').removeClass('d-none');
			}
			$('#ActionsRequiredCounter').text(data['count']);
		}
	});

	$(document).on('click', 'td', function () {
		window.location = $(this).parent().data("href")
	 })

</script>
<script>
	// Call the dataTables jQuery plugin
	$(document).ready(function() {
	    $('#dataTable').DataTable({
	      	"pageLength": 25,
	        "columnDefs": [
	            {   "targets": [ 0 ],
	                "orderable": false,
	                "searchable": false
	            },
	            {
	                "targets": [ 7 ],
	                "visible": false,
	                "searchable": false
	            },
	            {
	                "targets": [ 6 ],
	                "orderData": [ 7 ]

	            }
	        ],
	        "order": [
	            [ 6, "desc" ]
	        ]
	    });
	});
</script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
<script>
	var new_incident_location = null
	mapboxgl.accessToken = '{{ config['MAPBOX_API_KEY'] }}';
	var map = new mapboxgl.Map({
		container: 'Map',
		style: 'mapbox://styles/mapbox/streets-v11',
		zoom: 5,
		center: [-4.003661, 56.584255]
	});

	var geocoder = new MapboxGeocoder({
			accessToken: mapboxgl.accessToken,
			mapboxgl: mapboxgl,
			countries: 'gb'
	})

	geocoder.on('result', function(result) {
	   new_incident_location = result['result'];
	})

	map.addControl(geocoder);

	map.setFilter('my-layer', ['==', 'name', 'UK']);

</script>
{% endblock %}