{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/temp.css">
{% block css %}
{% endblock %}

{% block body %}
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Actions Required</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table row-border" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th scope="col">
							Incident Title
						</th>
                        <th scope="col">
							Requested By
						</th>
						<th scope="col">
							Action Type
						</th>
						<th scope="col">
							Reason
						</th>
						<th scope="col">
							Requested At
						</th>
						<th scope="col" class="d-none"></th>
						<th scope="col">
						</th>
					</tr>
				</thead>
				<tbody class="list">
					{% for action in actions|sort(attribute='requested_at') %}
					<tr id="ActionRequested{{ action.id }}" data-href="{{ url_for('view_incident', deployment_name=deployment.name, deployment_id=deployment.id, incident_name=action.incident.name, incident_id=action.incident.id) }}">
						<td scope="row">
							{{ action.incident.name }}
						</td>
						<td scope="row">
							{{ action.requested_by }}
						</td>
						<td>
							{{ action.action_type }}
						</td>
						<td>
							{{ action.reason }}
						</td>
						<td class="status">
							{{ moment(action.requested_at).fromNow(refresh=True) }}
						</td>
						<td class="d-none">
							{{ action.requested_at.timestamp() }}
						</td>
						<td>
							<input value="{{ action.id }}" type="checkbox" autocomplete="off">
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
	var table = null;
	var deployment_id = {{ deployment.id }};
	var socket = io();
	socket.on("connect", function() {
			socket.emit("join", {'type': 3, 'deployment_id': deployment_id});
	});

	function recieve(data) {
		if (data['code'] == 200) {
			console.log(data);
			return true;
		} else {
			console.log(data['code'] + ': ' + data['message']);
			return false;
		}
	}

	function updateCounter() {
		$('#ActionsRequiredCounter').text(table.rows().count());
			if (table.rows().count() == 0) {
				$('#ActionsRequiredCounter').addClass('d-none');
			} else if ($('#ActionsRequiredCounter').hasClass('d-none')) {
				$('#ActionsRequiredCounter').removeClass('d-none');
			}
	}

	$(document).on('click', 'td', function (e) {
		e.stopPropagation();
		if (e.target.type == 'checkbox') {
			socket.emit('mark_request_complete', {'id': $(e.target).val(), 'deployment_id': deployment_id});
			table.row($($(e.target)).parents('tr') ).remove().draw();
			updateCounter()
		} else {
			window.location = $(this).parent().data("href");
		}
	})

	socket.on('new_action_request', function(data) {
		if (recieve(data)) {
			$('#dataTable').DataTable().row.add([
			data['name'],
			data['requested_by'],
			data['action_type'],
			data['reason'],
			data['requested_at'],
			data['requested_at_timestamp'],
			'<input value="' + data['id'] + '" type="checkbox" autocomplete="off">'
		] ).draw()
		flask_moment_render_all();
		updateCounter()
		}
	});

	// Call the dataTables jQuery plugin
	$(document).ready(function() {
	    table = $('#dataTable').DataTable({
	      	"pageLength": 25,
	        "columnDefs": [
	            {
	                "targets": [ 5 ],
	                "visible": false,
	                "searchable": false
	            },
	            {
	                "targets": [ 4 ],
	                "orderData": [ 5 ]
	            }
	        ],
	        "order": [
	            [ 5, "desc" ]
	        ]
	    });
	});
</script>
{% endblock %}