{% extends "base.html" %}

{% block heading %}
{% if current_user.has_permission('create_deployment') %}
<a href="#newDeploymentModal" data-toggle="modal" data-target="newDeploymentModal" class="btn btn-icon-split btn-success mb-1 mt-2">
    <span class="btn-icon">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">New Deployment</span>
</a>
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-12 col-lg-10">
            <div class="card shadow mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h6 class="font-weight-bold text-primary">Virtual Operations Support Team</h6>
                </div>
                <div class="card-body">
                    <p class="font-weight-bold">This system is designed to ensure responding organisations can build shared situational awareness during multi-angency major or critical incidents.</p>
                    <p>Shared Situational Awareness is achieved by sharing information and understandment of the circumstances between the involved organisations to build a stronger, multi-dimensional understanding of events, their implications, associated risks and potential outcomes. Responders cannot assume other emergency service personnel see things or say things in the same way they and a sustained effort is required to reach common view a common view and understanding of events, risk and their implications.</p>
                    <p>Achieving shared situational awareness is essential for effective interoperability.</p>
                </div>
            </div>
        </div>
</div>
<div class="row">
    {% for deployment in deployments %}
    <div class="col-xl-4 col-lg-6">
        <div class="card border-left-success shadow mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h6 class="font-weight-bold text-primary">{{ deployment.name }}
                    <p class="mb-0 mt-1 text-muted text-xs text-nowrap">Created {{ moment(deployment.created_at).fromNow(refresh=True) }}</p>
                </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="modal" data-target="#editDeploymentModal">
                        <i class="fas fa-cog"></i>
                    </a>
                </div>
            </div>
            <div class="card-body text-center">
                <p class="font-weight-bold text-left">{{ deployment.description }}</p>
                <a href="{{ url_for('view_incidents', deployment_name=deployment.name) }}" class="btn {% if deployment.open_status %}btn-success{% else %}btn-danger{% endif %}">View Deployment</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="editDeploymentModal" tabindex="-1" role="dialog" aria-labelledby="editDeploymentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDeploymentLabel">Edit Deployment</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}