{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/temp.css">
{% endblock %}

{% block heading %}
<a href="#newIncidentModal" data-toggle="modal" data-target="#newIncidentModal" class="btn btn-icon-split btn-success mb-1">
    <span class="btn-icon">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">New Incident</span>
</a>
<div class="modal fade" id="newIncidentModal" tabindex="-1" role="dialog" aria-labelledby="newIncidentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card shadow">
                    <div class="card-header py-3 d-flex ">
                <h6 class="m-0 font-weight-bold text-primary">New Incident Report</h6>
            </div>
                    <div class="card-body">
                        <form id="newIncidentForm" method="post" role="form">
                            <div class="form-group mb-3">
                                <input class="form-control was-validated" name="name" placeholder="Incident Name" type="text" required>
                            </div>
                            <div class="form-group mb-3">
                                <input class="form-control" name="location" placeholder="Location" type="text">
                            </div>
                            <textarea class="form-control" rows="3" name="description"
                                      placeholder="Description"></textarea>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Total Incidents</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ incidents|length }}</div>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                      <i class="fas fa-1fourx fa-clone"></i>
                        </div>
                    </div>
                  </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-{{ incidents_percentage[0] }} mr-2"><i class="fa fa-{{ incidents_percentage[1] }}"></i> {{ incidents_percentage[2] }}%</span>
                        <span class="text-nowrap">Since last hour</span>
                    </p>
                </div>
              </div>
    </div>
        <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-s font-weight-bold text-warning text-uppercase mb-1">Response Time</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">1 Hour</div>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="fas fa-1fourx fa-hourglass-end"></i>
                        </div>
                    </div>
                  </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> 3.48%</span>
                    <span class="text-nowrap">Since last hour</span>
                </p>
                </div>
              </div>
    </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-s font-weight-bold text-success text-uppercase mb-1">Active For</div>
                        <div class="h5 clock mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      <i class="fas fa-1fourx fa-stopwatch"></i>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Incidents</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table row-border" id="dataTable" width="100%" cellspacing="0">
          <thead>
                <tr>
                    <th scope="col">
                        Pinned
                    </th>
                    <th scope="col">
                        Incident Title
                    </th>
                    <th scope="col">
                        Location
                    </th>
                    <th scope="col">
                        Priority
                    </th>
                    <th scope="col">
                        Assigned To

                    <th scope="col">
                        Tasks
                    </th>
                    <th scope="col">
                        Last Updated
                    </th>
                </tr>
                </thead>
                <tbody class="list">
                {% for incident in incidents %}
                <tr data-href="{{ url_for('view_incident', deployment_name=deployment_name, incident_name=incident.name, incident_id=incident.id) }}">
                    <th scope="row">
                        {% if current_user in incident.pinned %}
                        <i class="fas fa-thumbtack"></i>
                        {% else %}
                        <i class="fas fa-thumbtack"></i>
                        {% endif %}
                    </th>
                    <td scope="row">
                        {{ incident.name }}
                    </td>
                    <td scope="row">
                        {{ incident.location }}
                    </td>
                    <td class="status">
            <span class="badge badge-dot mr-4">
              <i class="bg-warning"></i> {{ incident.get_priority() }}
            </span>
                    </td>
                    <td>
                        {% if incident.assigned_to %}
                        {% for user in incident.assigned_to %}
                        <div class="avatar-group">
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip"
                               data-original-title="{{ user }}">
                                <img alt="Avatar" src="{{ user.get_avatar() }}" class="rounded-circle avatar-sm">
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                        Unassigned
                        {% endif %}
                    </td>
                    <td class="completion">
                        <div class="d-flex align-items-center">
                            {% set percentage = incident.calculate_task_percentage() %}
                            {% if percentage == None %}
                            None
                            {% elif percentage == 100 %}
                            Completed
                            {% else %}
                            <span class="mr-2">{{ percentage }}%</span>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ percentage }}%;"></div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                    <td class="status">
                        {{ moment(incident.last_updated).fromNow() }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js "></script>
<script>
    //TODO
    var csrf_token = "{{ csrf_token() }}";
    $('#newIncidentForm').submit( function(e) {
       e.preventDefault();
       $('#newIncidentModal').modal('hide')

       $.ajax({
           data: $('#newIncidentForm').serialize(),
           type: "POST",
           url: "{{ url_for('add_incident', deployment_name=deployment_name) }}",
           beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                }
            },
           success: function(data){
               $('#newIncidentForm').get(0).reset()
               console.log(data);
           }
       });
     });
    clock();

    $(document).on('click', 'td', function () {
         window.location = $(this).parent().data("href");
     });

    function clock() {
        var zero = moment.unix(0)
        setInterval(function() {
                var seconds = Math.round(new Date().getTime()/1000) - {{ deployment.created_at.timestamp() }}
                if (seconds < 60){
                    var timeString = moment.unix(seconds).format('ss')
                } else if (seconds < 3600){
                    var timeString = moment.unix(seconds).format('mm:ss')
                } else if (seconds < 86400){
                    var timeString = moment.unix(seconds).format('hh:mm:ss')
                } else {
                    var momentVar = moment.unix(seconds)
                    var timeString = momentVar.diff(zero, 'days') + ':' + momentVar.format('hh:mm:ss')
                }
            $(".clock").html(timeString);
        }, 1000);
    };
</script>
<script>
// Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable();
});
</script>
{% endblock %}