{% extends 'base.html' %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block heading %}
<div>
	<!-- TODO Allow non-privileged users to request a status change -->
	{% if incident.open_status %}
	<a id="ChangeIncidentStatus" class="btn btn-icon-split btn-success mb-1 mt-2" href="#" data-toggle="modal" data-target="#requestCompleteModal">
	    <span class="btn-icon">
	        <i class="fas fa-check"></i>
	    </span>
	    <span id="ChangeIncidentStatusText" class="text">Mark As Complete</span>
	    </a>
	{% else %}
	<a id="ChangeIncidentStatus" href="#" class="btn btn-icon-split btn-info mb-1 mt-2">
	    <span class="btn-icon">
	        <i class="fas fa-check"></i>
	    </span>
	    <span id="ChangeIncidentStatusText" class="text">Mark As Incomplete</span>
	</a>
	{% endif %}
	<a href="#flagModal" class="btn btn-icon-split btn-warning mb-1 mt-2 dropdown-toggle" role="button" id="dropdownFlagMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="btn-icon">
			<i class="fas fa-flag"></i>
		</span>
		<span class="text">Flag</span>
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownPriorityMenu">
		<a class="dropdown-item" href="#" type="submit">User</a>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#flagToSupervisorModal">Supervisor</a>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			{% if current_user.has_permission('change_allocation') %}
			<a class="incident-cog" href="#" role="button" data-toggle="modal" data-target="#changeAllocationModal">
			<i class="fas fa-cog float-right" data-toggle="tooltip" title="Change Allocation"></i>
			</a>
			{% endif %}
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-s font-weight-bold text-primary text-uppercase mb-1">Assigned To</div>
						<div id="AssignedAvatars" class="avatar-group">
							{% for user in incident.assigned_to %}
							{% include 'assigned_to.html' %}
							{% endfor %}
						</div>
						{% if not incident.assigned_to %}
						<div id="NotAssigned" class="h5 mb-0 font-weight-bold text-gray-800">Unassigned</div>
						{% endif %}
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-primary text-white rounded-circle shadow">
							<i class="fas fa-users fa-1fourx"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		{% if current_user.has_permission('change_priority') %}
		<div id="PriorityBorder" class="card border-left-{{ incident.priority }} shadow h-100 py-2">
			<a id="PriorityCog" class="incident-cog text-{{ incident.priority }}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <i class="fas fa-cog float-right" data-toggle="tooltip" title="Change Priority"></i>
			</a>
			<div id="PriorityDropdown" class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownPriorityMenu">
				<a id="PriorityStandard" class="dropdown-item{% if incident.priority == 'Standard' %} active{% endif %}" href="#" type="submit">Standard</a>
				<a id="PriorityPrompt" class="dropdown-item{% if incident.priority == 'Prompt' %} active{% endif %}" href="#" type="submit">Prompt</a>
				<a id="PriorityImmediate" class="dropdown-item{% if incident.priority == 'Immediate' %} active{% endif %}" href="#" type="submit">Immediate</a>
			</div>
			{% endif %}
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div id="PriorityTitle" class="text-s font-weight-bold text-{{ incident.priority }} text-uppercase mb-1">Priority</div>
						<div id="PriorityText" class="h5 mb-0 font-weight-bold text-gray-800">{{ incident.priority }}</div>
					</div>
					<div class="col-auto">
						<div id="PriorityIcon" class="icon icon-shape bg-{{ incident.priority }} text-white rounded-circle shadow">
							<i class="fas fa-1fourx fa-{{ incident.get_icon() }}"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% set percentage = incident.calculate_task_percentage() %}
	{% if percentage != None %}
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-s font-weight-bold text-success text-uppercase mb-1">Tasks</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div id="IncidentProgressPercentage" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ percentage }}%</div>
							</div>
							<div class="col">
								<div class="progress progress-sm mr-2">
									<div id="IncidentProgressBar" class="progress-bar bg-success"
										style="width: 0%" aria-valuenow="{{ percentage }}"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-success text-white rounded-circle shadow">
							<i class="fas fa-tasks fa-1fourx"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Updated</div>
						<div id="LastUpdated" class="h5 mb-0 font-weight-bold text-gray-800">{{ moment(incident.last_updated).fromNow(refresh=True) }}
						</div>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-warning text-white rounded-circle shadow">
							<i class="far fa-clock fa-1fourx"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-7">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Incident Overview</h6>
				<a href="#" role="button" data-toggle="modal" data-target="#editOverviewModal">
					<i class="fas fa-cog" data-toggle="tooltip" title="Edit Incident Overview"></i>
				</a>
			</div>
			<div class="card-body">
				<h3 class="font-weight-bold">{{ incident.name }}</h3>
				<p class="card-text"><b>Created:</b> {{ moment(incident.created_at).format('Do MMMM YYYY, h:mma') }}</p>
				<p class="card-text"><b>Location:</b> {{ incident.location }}</p>
				<p class="card-text"><b>Description:</b> {{ incident.description }}</p>
				<p class="card-text"><b>Reported Via:</b> {{ incident.reporting }}</p>
				<p class="card-text"><b>Logged by:</b> <a href="#">{{ incident.created_by_user }}</a></p>
				<p class="card-text"><b>Reference Number (If Provided):</b> {{ incident.reference }}</p>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Tasks</h6>
				<a class="text-success" href="#" role="button" data-toggle="modal" data-target="#addTaskModal">
					<i class="fas fa-plus" data-toggle="tooltip" title="Add Task"></i>
				</a>
			</div>
			<ul id="Tasks" class="list-group">
				{% for task in incident.tasks|sort(attribute='created_at') %}
				{% include 'task.html' %}
				{% endfor %}
			</ul>
			{% if not incident.tasks %}
			<div id="NoTasks" class="card-body">
				<p class="card-text text-center">No tasks currently.</p>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-xl-6 col-lg-7">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Map</h6>
				{% if current_user.has_permission('mark_as_public') %}
				<div class="custom-switch" data-toggle="tooltip" title="Toggle public visibility">
					<input type="checkbox" class="custom-control-input" id="PublicToggle" autocomplete="off" {% if incident.public %}checked{% endif %}>
					<label class="custom-control-label" for="PublicToggle"></label>
				</div>
				{% endif %}
			</div>
			<div class="card-body">
				<div id="Map" class="map-container-incident"></div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Updates</h6>
				<a class="text-success" href="#" role="button" data-toggle="modal" data-target="#addCommentModal">
					<i class="fas fa-plus" data-toggle="tooltip" title="Add Comment"></i>
				</a>
			</div>
			<div class="card-body bg-light">
				<ul id="Comments" class="list-unstyled">
				{% for comment in incident.comments|sort(attribute='sent_at') %}
					{% include 'comment.html' %}
				{% endfor %}
				</ul>
				{% if not incident.comments %}
				<div id="NoComments">
					<p class="card-text text-center">No updates currently.</p>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Recent Activity</h6>
			</div>
			<div class="card-body bg-light">
				<ul id="Activity" class="activity">
					{% for action in incident.actions|sort(attribute='occurred_at', reverse=True) %}
					{% include 'action.html' %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block modals %}
<!-- Request Complete Modal -->
<div class="modal fade" id="requestCompleteModal" tabindex="-1" role="dialog" aria-labelledby="requestCompleteModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Request Status Change</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="requestCompleteForm" role="form">
							<textarea class="form-control" rows="3" name="reason" placeholder="Add a reason..."></textarea>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Flag To Supervisor Modal -->
<div class="modal fade" id="flagToSupervisorModal" tabindex="-1" role="dialog" aria-labelledby="flagToSupervisorModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Flag to Supervisor</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="flagToSupervisorForm" role="form">
							<textarea class="form-control" rows="3" name="reason" placeholder="Add a reason..." required></textarea>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Change Allocation To Modal -->
<div class="modal fade" id="changeAllocationModal" tabindex="-1" role="dialog" aria-labelledby="editAssignedToModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Change Allocation</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="changeAllocationForm" role="form">
							<div class="form-group mb-3">
								<select id="changeAllocationSelect" name="users" multiple="multiple" style="width: 100%">
									<option value="0"></option>
									{% for group in groups %}
									<optgroup label="{{ group[0] }}">
										{% for user in group[1] %}
										<option {% if user in incident.assigned_to %}selected {% endif %}value="{{ user.id }}" data-avatar-url="{{ user.get_avatar() }}">{{ user }}</option>
										{% endfor %}
									</optgroup>
									{% endfor %}
								</select>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Edit Overview Modal -->
<div class="modal fade" id="editOverviewModal" tabindex="-1" role="dialog" aria-labelledby="editOverviewModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editOverviewLabel">Edit Overview</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Add Task</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="addTaskForm" role="form">
							<div class="form-group mb-3">
								<input class="form-control was-validated" name="name" placeholder="Task Name" type="text" required>
							</div>
							<div class="form-group mb-3">
								<select id="addTaskSelect" name="users" multiple="multiple" style="width: 100%">
									<option value="0"></option>
									{% for group in groups %}
									<optgroup label="{{ group[0] }}">
										{% for user in group[1] %}
										<option value="{{ user.id }}" data-avatar-url="{{ user.get_avatar() }}">{{ user }}</option>
										{% endfor %}
									</optgroup>
									{% endfor %}
								</select>
							</div>
							<textarea class="form-control" rows="3" name="description" placeholder="Description"></textarea>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Add Sub-Task Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModal" aria-hidden="true">
</div>
<!-- Add Comment Modal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Add Update</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="addCommentForm" role="form">
							<div class="form-group mb-3">
								<input class="form-control was-validated" name="comment" placeholder="Write an update..." type="text" required>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/static/js/taxonomy.min.js"></script>
<script src="/static/js/bootstrap-notify.js"></script>
<script id = "Task-Modal-Template" type="text/x-handlebars-template">
{% raw %}
<div class="modal-dialog modal-bigger" role="document">
	<div class="modal-content">
		<div class="modal-body p-0">
			<div class="card shadow">
				<div class="card-header py-3 d-flex align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">{{ name }}</h6>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="card-body bg-light">
					<div class="row">
						<div class="col-xl-12 col-sm-8 mb-4">
							<h5><i class="fas fa-align-left mb-3 mr-2"></i> Description</h5>
							<textarea id="TaskModalDescriptionText" class="form-control-plaintext text-dark mb-3" name="description" placeholder="Add a description...">{{#if description}}{{ description }}{{/if}}</textarea>
							<!--<form id="taskLabelsForm">
								<ul id="TaskLabels" class="tag-cloud list-inline ml-1">
									<li>High Priority</li>
									<li>Medium Priority</li>
									<li>Low Priority</li>
								</ul>
							</form>-->
							<h6>Change Assigned Members</h6>
							<select id="addEditTaskSelect" name="users" multiple="multiple" style="width: 100%">
								<option value="0"></option>
								{% endraw %}
								{% for group in groups %}
								<optgroup label="{{ group[0] }}">
									{% for user in group[1] %}
									<option value="{{ user.id }}" data-avatar-url="{{ user.get_avatar() }}">{{ user }}</option>
									{% endfor %}
								</optgroup>
								{% endfor %}
								{% raw %}
							</select>
							<button id="TaskModalDescriptionSaveBtn" type="submit" class="btn btn-primary mt-3 float-right d-none">Save</button>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-sm-8 mb-2">
							<h5><i class="fas fa-tasks mb-3 mr-2"></i> Tasks</h5>
							<div class="row">
								<div class="col-auto"><div id="TaskProgressPercentage" class="h5 ml-1 mb-2 font-weight-bold text-gray-800">20%</div></div>
								<div class="col">
									<div class="progress progress-sm mt-2">
										<div id="TaskProgressBar" class="progress-bar bg-success"
											style="width: 20%" aria-valuenow="{{ percentage }}"
											aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<ul id="SubTasks" class="list-group">
							{{#each subtasks}}
								<li id="SubTaskRow{{ id }}" class="list-group-item list-group-flush{{#if completed}} text-muted{{/if}}" value="{{ id }}">
									<div class="row align-items-center no-gutters">
										<div class="col mr-2">
											<h6 class="mb-0">
												<strong>{{ name }} </strong><span id="SubTaskDate{{ id }}" class="text-xs">{{#if completed}}Completed {{else}}Created {{/if}}{{{ timestamp }}}</span>
											</h6>
											{{#if assigned_to}}
											<span id="SubTask{{ id }}Assigned" class="text-xs">Assigned to {{ assigned_to }}</span>
											{{/if}}
										</div>
										<div class="col-auto">
											<div>
												<input class="task-checkbox{{#if completed}} text-success{{/if}}" id="SubTask{{ id }}"  value="{{ id }}" type="checkbox" {{#if completed}}checked{{/if}}>
												<i class="fas fa-trash-alt btn-opacity text-danger" data-toggle="tooltip" title="Delete Sub-Task" data-id="{{ id }}"></i>
											</div>
										</div>
									</div>
								</li>
							{{/each}}
							</ul>
							<form id="addSubTaskForm" role="form">
								<div class="form-group my-3">
									<input id="TaskModalSubTaskAdd" class="form-control was-validated mb-2" name="name" placeholder="Sub-task Name" type="text" required>
									<select id="addSubTaskSelect" name="users" multiple="multiple" style="width: 100%">
										<option value="0"></option>
										{% endraw %}
										{% for group in groups %}
										<optgroup label="{{ group[0] }}">
											{% for user in group[1] %}
											<option value="{{ user.id }}" data-avatar-url="{{ user.get_avatar() }}">{{ user }}</option>
											{% endfor %}
										</optgroup>
										{% endfor %}
										{% raw %}
									</select>
									<div class="text-center">
										<button id="AddSubTaskBtn" type="button" class="btn btn-primary float-right my-3">Submit</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-xl-12 col-sm-8 mb-4">
							<h5><i class="fas fa-comments mb-3 mr-2"></i> Comments</h5>
							<ul id="TaskComments" class="list-group list-unstyled">
								{{#each comments}}
								<li class="update-log">
									<div class="update-log-avatar">
										<a href="#">
											<img class="media-object rounded-circle" src="{{ user_avatar }}" alt="Avatar">
										</a>
										<div class="update-log-name text-muted">{{ user }}</div>
									</div>
									<div class="update-log-text">
										<span class="d-block">{{ text }}</span>
										<div class="update-body">{{{ timestamp }}}</div>
									</div>
								</li>
								{{/each}}
							</ul>
							<form id="addTaskCommentForm" role="form">
								<div class="form-group input-group mb-5">
									<input id="TaskModalCommentAdd" class="form-control was-validated" name="comment" placeholder="Add a comment..." type="text" required>
									<button id="AddTaskCommentBtn" type="button" class="btn btn-primary ml-3">Submit</button>
								</div>
							</form>
							<h5><i class="fas fa-clipboard-list mb-3 mr-2"></i> Actions</h5>
							<ul id="TaskActivity" class="activity">
								{{#each actions}}
								<li>
									<div>
										<i class="fas text-gray-300 fa-1fourx fa-plus-circle activity-icon"></i>
										<div class="media">
											<div class="media-left">
												<a href="#">
													<img class="media-object rounded-circle" src="{{ user_avatar }}" alt="Avatar">
												</a>
											</div>
											<div class="media-body">
												{{{ timestamp }}}
											</div>
											<span class="card-text"><a href="#">{{ user }}</a> {{ text }}</span>
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endraw %}
</script>
<script type="text/javascript" charset="utf-8">
	var deployment_id = {{ deployment.id }};
	var incident_id = {{ incident.id }};
	var socket = io();
	var taskModalScript = Handlebars.compile($('#Task-Modal-Template').html());
	//var taxonomy = null;
	var currentTaskOpen = null;

    socket.on("connect", function() {
        socket.emit("join", {'type': 2, 'deployment_id': deployment_id, 'incident_id': incident_id});
    });

	function recieve(data) {
		if (data['code'] == 200) {
			console.log(data);
			return true;
		} else {
			console.log(data['code'] + ': ' + data['message']);
			return false;
		}
	}

	function removeStartingWith(index, css) {return (css.match (/^text-\S+/g) || []).join(' ')};

	function updateProgressBar(check_element, progress_text, progress_bar) {
		var percentage = parseInt(($(check_element + ' :checked').length/$(check_element + ' :checkbox').length)*100);
		if (! percentage) {
			percentage = 0;
		}
	    progress_text.text(percentage + '%');
	    progress_bar.width(percentage + '%');
	    progress_bar.removeClass(function (index, css) {
	        return (css.match (/\bbg-\S+/g) || []).join(' ');
	    });
	    if (percentage >= 80) {
	       progress_bar.addClass("bg-success");
	    } else if (percentage >= 50) {
	        progress_bar.addClass("bg-orange");
	    } else if (percentage >= 25) {
	        progress_bar.addClass("bg-warning");
	    } else {
	        progress_bar.addClass("bg-danger");
	    }
	}

	{% if current_user.has_permission('change_status') %}
	$('#ChangeIncidentStatus').click( function(e) {
		e.preventDefault();
		socket.emit('change_incident_status', {'status': $(this).hasClass('btn-info'), 'deployment_id': deployment_id, 'incident_id': incident_id});
	});
	{% else %}
	$('#requestCompleteForm').submit( function(e) {
	   e.preventDefault();
	   $('#requestCompleteModal').modal('hide');
        socket.emit('request_incident_complete', {'status': $(this).hasClass('btn-info'), 'reason': $(this).serializeArray()[0]['value'], 'deployment_id': deployment_id, 'incident_id': incident_id});
		$.notify({message: 'Your request has been sent!'},{type: 'success'});
		$('#requestCompleteForm').get(0).reset();
	});
	{% endif %}

	$('#flagToSupervisorForm').submit( function(e) {
	   e.preventDefault();
	   $('#flagToSupervisorModal').modal('hide');
        socket.emit('flag_to_supervisor', {'reason': $(this).serializeArray()[0]['value'], 'deployment_id': deployment_id, 'incident_id': incident_id});
		$.notify({message: 'You have flagged this incident to a supervisor!'},{type: 'success'});
		$('#flagToSupervisorForm').get(0).reset();
	});


	$('#changeAllocationForm').submit( function(e) {
	    e.preventDefault();
	    $('#changeAllocationModal').modal('hide');
		socket.emit('change_incident_allocation', {'users': $('#changeAllocationSelect').val(), 'deployment_id': deployment_id, 'incident_id': incident_id});
		$('#changeAllocationForm').get(0).reset();
	});

    $('#PriorityDropdown a').click(function (e) {
        e.preventDefault();
        old_priority = $('#PriorityText').text();
        socket.emit('change_incident_priority', {'priority': $(this).text(), 'deployment_id': deployment_id, 'incident_id': incident_id});
    });

	$('#PublicToggle').change(function() {
        socket.emit('change_public', {'public': $(this).is(":checked"), 'deployment_id': deployment_id, 'incident_id': incident_id});
    });

	$('#addTaskForm').submit( function(e) {
	   e.preventDefault();
	   $('#addTaskModal').modal('hide');
        socket.emit('create_incident_task', {'name': $(this).serializeArray()[0]['value'], 'users': $('#addTaskSelect').val(), 'description': $(this).serializeArray()[1]['value'], 'deployment_id': deployment_id, 'incident_id': incident_id});
		$('#addTaskForm').get(0).reset();
		$('#addTaskSelect').select2('val', '[]');
	});

	$('#Tasks').on('click', '.list-group-item.list-group-flush', function(e) {
		e.stopPropagation();
		if (e.target.type == 'checkbox') {
			socket.emit('change_task_status', {'task_id':  e.currentTarget.value, 'completed': $(e.target).prop("checked"), 'deployment_id': deployment_id, 'incident_id': incident_id});
		} else {
			console.log(e)
			if (currentTaskOpen) {
				socket.emit('unconnect', {'type': 4, 'deployment_id': deployment_id, 'incident_id': incident_id, 'task_id': currentTaskOpen});
			}
			socket.emit('view_task', {'task_id':  e.currentTarget.value, 'deployment_id': deployment_id, 'incident_id': incident_id});
			currentTaskOpen = e.currentTarget.value;
		}
	});

	$('#taskModal').on('click', function (e) {
		// console.log(taxonomy)
		console.log(e);
		if ($(e.target).attr('id') == 'TaskModalDescriptionText' || $(e.target).hasClass('.badge.badge-dark.tag') || e.target.type == 'search') {
			$('#TaskModalDescriptionSaveBtn').removeClass('d-none');
		} else if ($(e.target).attr('id') == 'TaskModalDescriptionSaveBtn') {
			$(e.target).addClass('d-none');
			socket.emit('change_task_description', {'task_id':  e.currentTarget.value, 'description': $('#TaskModalDescriptionText').val(),  'deployment_id': deployment_id, 'incident_id': incident_id});
	        socket.emit('change_task_assigned', {'task_id': e.currentTarget.value, 'users': $('#addEditTaskSelect').val(), 'deployment_id': deployment_id, 'incident_id': incident_id});
		} else if ($(e.target).attr('id') == 'AddSubTaskBtn') {
			socket.emit('create_incident_subtask', {'task_id':  e.currentTarget.value, 'name': $('#TaskModalSubTaskAdd').val(), 'users': $('#addSubTaskSelect').val(), 'deployment_id': deployment_id, 'incident_id': incident_id});
			$('#addSubTaskForm').get(0).reset();
			$('#addSubTaskSelect').select2('val', '[]');
		} else if ($(e.target).hasClass('task-checkbox')) {
			socket.emit('change_subtask_status', {'subtask_id':  e.target.value, 'completed': $(e.target).prop("checked"), 'deployment_id': deployment_id, 'incident_id': incident_id, 'task_id': e.currentTarget.value});
		} else if ($(e.target).hasClass('fa-trash-alt')) {
			socket.emit('delete_subtask', {'subtask_id':  $(e.target).data('id'), 'deployment_id': deployment_id, 'incident_id': incident_id, 'task_id': e.currentTarget.value});
		} else if ($(e.target).attr('id') == 'AddTaskCommentBtn') {
			socket.emit('create_task_comment', {'task_id':  e.currentTarget.value, 'text': $('#TaskModalCommentAdd').val(), 'deployment_id': deployment_id, 'incident_id': incident_id});
			$('#addTaskCommentForm').get(0).reset();
		}
	});

	$('#addCommentForm').submit( function(e) {
	   e.preventDefault();
	   $('#addCommentModal').modal('hide');
        socket.emit('create_incident_comment', {'text': $(this).serializeArray()[0]['value'], 'deployment_id': deployment_id, 'incident_id': incident_id});
        $('#addCommentForm').get(0).reset();
	});

	socket.on('change_incident_status', function(data) {
		if (recieve(data)) {
			if (data['status']) {
				$('#ChangeIncidentStatus').removeClass('btn-info').addClass('btn-success');
				$('#ChangeIncidentStatusText').text('Mark as Complete');
				clock();
			} else {
				$('#ChangeIncidentStatus').removeClass('btn-success').addClass('btn-info');
				$('#ChangeIncidentStatusText').text('Mark as Incomplete');
			}
		}
	});

	socket.on('change_incident_allocation', function(data) {
		if (recieve(data)) {
			if ($('#NotAssigned').length) {
				$('#NotAssigned').remove();
			}
			$('#AssignedAvatars').empty();
			for (var i = 0; i < data['html'].length; i++) {
				$('#AssignedAvatars').append(data['html'][i]);
			}
		}
	});

	socket.on('change_incident_priority', function(data) {
		if (recieve(data)) {
			$('#PriorityBorder').removeClass('border-left-Standard border-left-Prompt border-left-Immediate');
			$('#PriorityCog').removeClass('text-Standard text-Prompt text-Immediate');
			$('#PriorityTitle').removeClass('text-Standard text-Prompt text-Immediate');
			$('#PriorityIcon').removeClass('bg-Standard bg-Prompt bg-Immediate');
			$("[id^=Priority].active").removeClass('active');
			$('#PriorityText').text(data['priority']);
			$('#PriorityBorder').addClass('border-left-' + data['priority']);
			$('#PriorityCog').addClass('text-' + data['priority']);
			$('#PriorityTitle').addClass('text-' + data['priority']);
			$('#PriorityIcon').addClass('bg-' + data['priority']);
			$('#Priority' + data['priority']).addClass('active');
		}
	});

	socket.on('create_incident_task', function(data) {
		if (recieve(data)) {
			if ($('#NoTasks').length) {
				$('#NoTasks').remove();
			}
			$('#Tasks').append(data['html']);
			flask_moment_render_all();
			updateProgressBar('#Tasks', $('#IncidentProgressPercentage'), $('#IncidentProgressBar'));
		}
	});

	socket.on('change_task_status', function(data) {
		if (recieve(data)) {
			if (data['completed']) {
				$('#TaskRow' + data['id']).addClass('text-muted');
				$('#Task' + data['id']).addClass('text-success');
				$('#TaskDate' + data['id']).html('Completed ' + moment.unix(data['timestamp']).fromNow(refresh=true));
				$('#Task' + data['id']).prop('checked', true);
			} else {
				$('#TaskRow' + data['id']).removeClass('text-muted');
				$('#Task' + data['id']).removeClass('text-success');
				$('#TaskDate' + data['id']).html('Created ' + moment.unix(data['timestamp']).fromNow(refresh=true));
				$('#Task' + data['id']).prop('checked', false);
			}
			flask_moment_render_all();
			updateProgressBar('#Tasks', $('#IncidentProgressPercentage'), $('#IncidentProgressBar'));
		}
	});

	socket.on('change_task_assigned', function(data) {
		if (recieve(data)) {
			$('#Task' + data['id'] + 'Assigned').text(data['text'])
		}
	});

	socket.on('view_task', function(data) {
		if (recieve(data)) {
			var html = taskModalScript(data);
			$('#taskModal').html(html);
			$('#taskModal').val(data['id']);
			$('#addEditTaskSelect').select2({
				allowClear: true,
				placeholder: {id:'0', text: 'Assign to users, not required'},
				templateResult: format,
				templateSelection: format,
			});
			$('#addSubTaskSelect').select2({
				allowClear: true,
				placeholder: {id:'0', text: 'Assign to users, not required'},
				templateResult: format,
				templateSelection: format,
			});
			flask_moment_render_all();
			if ($('#TaskProgressBar').length) {
				updateProgressBar('#SubTasks', $('#TaskProgressPercentage'), $('#TaskProgressBar'));
			}
			$('#addEditTaskSelect').val([data['chosen_ids']]);
			$('#addEditTaskSelect').trigger('change');
			// taxonomy = $('#TaskLabels').taxonomy_jquery();
			// console.log(taxonomy);
			socket.emit("join", {'type': 4, 'deployment_id': deployment_id, 'incident_id': incident_id, 'task_id': data['id']});
			$('#taskModal').modal('show');
		}
	});

	socket.on('delete_subtask', function(data) {
		if (recieve(data)) {
			if ($('#SubTaskRow' + data['id']).length) {
				$('#SubTaskRow' + data['id']).remove();
			}
		}
	});

	socket.on('create_incident_subtask', function(data) {
		if (recieve(data)) {
			$('#SubTasks').append(data['html']);
			flask_moment_render_all();
		}
	});

	socket.on('create_task_comment', function(data) {
		if (recieve(data)) {
			$('#TaskComments').append(data['html']);
			flask_moment_render_all();
		}
	});

	socket.on('task_activity', function(data) {
		if (recieve(data)) {
			$('#TaskActivity').prepend(data['html']);
			$('#LastUpdated').html(moment().fromNow(refresh=true));
			flask_moment_render_all();
		}
	});

	socket.on('action_required_count', function(data) {
		if (recieve(data)) {
			if (data['count'] == 0) {
				$('#ActionsRequiredCounter').addClass('d-none');
			} else if ($('#ActionsRequiredCounter').hasClass('d-none')) {
				$('#ActionsRequiredCounter').removeClass('d-none');
			}
			$('#ActionsRequiredCounter').text(data['count']);
		}
	});

	socket.on('change_subtask_status', function(data) {
		if (recieve(data) && $('#SubTask' + data['id']).length) {
			if (data['completed']) {
				$('#SubTaskRow' + data['id']).addClass('text-muted');
				$('#SubTask' + data['id']).addClass('text-success');
				$('#SubTaskDate' + data['id']).html('Completed ' + moment.unix(data['timestamp']).fromNow(refresh=true));
				$('#SubTask' + data['id']).prop('checked', true);
			} else {
				$('#SubTaskRow' + data['id']).removeClass('text-muted');
				$('#SubTask' + data['id']).removeClass('text-success');
				$('#SubTaskDate' + data['id']).html('Created ' + moment.unix(data['timestamp']).fromNow(refresh=true));
				$('#SubTask' + data['id']).prop('checked', false);
			}
			flask_moment_render_all();
			updateProgressBar('#SubTasks', $('#TaskProgressPercentage'), $('#TaskProgressBar'));
		}
	});

	socket.on('create_incident_comment', function(data) {
		if (recieve(data)) {
			if ($('#NoComments').length) {
				$('#NoComments').remove();
			};
			$('#Comments').append(data['html']);
			flask_moment_render_all();
		}
	});

	socket.on('activity', function(data) {
		$('#Activity').prepend(data['html']);
		$('#LastUpdated').html(moment().fromNow(refresh=true));
		flask_moment_render_all();
	});

	function format(state) {
	    if (!state.id) return state.text;
	    return $("<span><img class='rounded-circle avatar-sm' src='" + $(state.element).data('avatar-url') + "'/> " + state.text + "</span>");
	}

	var autoExpand = function (field) {

		field.style.height = 'inherit';

		var computed = window.getComputedStyle(field);

		var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
					 + parseInt(computed.getPropertyValue('padding-top'), 10)
					 + field.scrollHeight
					 + parseInt(computed.getPropertyValue('padding-bottom'), 10)
					 + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

		field.style.height = height + 'px';

	};
	document.addEventListener('input', function (event) {
		if (event.target.tagName.toLowerCase() !== 'textarea') return;
		autoExpand(event.target);
	}, false);

	$(document).ready(function() {
		updateProgressBar('#Tasks', $('#IncidentProgressPercentage'), $('#IncidentProgressBar'));
		$('#addTaskSelect').select2({
			allowClear: true,
			placeholder: {id:'0', text: 'Assign to users, not required'},
			templateResult: format,
			templateSelection: format,
		});
		$('#changeAllocationSelect').select2({
			allowClear: true,
			placeholder: {id:'0', text: 'Choose which users to allocate this incident to'},
			templateResult: format,
			templateSelection: format,
		});
		$('#addTaskSelect').val(null).trigger('change');
		$('#changeAllocationSelect').val(null).trigger('change');

		  var map = L.map('Map').setView({lat: {{ incident.latitude }}, lng: {{ incident.longitude }}}, 15);
		  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			minZoom: 4,
			maxZoom: 22,
			id: 'mapbox/streets-v11',
			accessToken: '{{ config['MAPBOX_API_KEY'] }}'
		}).addTo(map);

		var marker = L.circleMarker([{{ incident.latitude }}, {{ incident.longitude }}]).addTo(map);
	})
</script>
{% endblock %}