{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/temp.css">
{% endblock %}

{% block header %}
<div class="row mt-5">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Incidents</h5>
                        <span class="h2 font-weight-bold mb-0">{{ incidents|length }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fa fa-chart-bar"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last hour</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Response Time</h5>
                        <span class="h2 font-weight-bold mb-0">1 Hour</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="fa fa-chart-pie"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> 3.48%</span>
                    <span class="text-nowrap">Since last hour</span>
                </p>
            </div>
        </div>
    </div>
    <div>
        <h1 class="clock text-white" style="font-size:3.5rem"></h1>
    </div>
</div>
<div style="float:right">
    <button class="btn btn-secondary" data-toggle="modal" data-target="#new-incident-form">New Incident</button>
</div>
<div class="modal fade" id="new-incident-form" tabindex="-1" role="dialog" aria-labelledby="new-incident-form"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <h2>New Incident Report</h2>
                        </div>
                        <form method="post" role="form">
                            {{ form.hidden_tag() }}
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input class="form-control" name="name" placeholder="Incident Name" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input class="form-control" name="location" placeholder="Location" type="text">
                                </div>
                            </div>
                            <textarea class="form-control form-control-alternative" rows="3" name="description"
                                      placeholder="Description"></textarea>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block body %}
<div class="row mt-5">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Incidents</h3>
            </div>
            <div class="table-responsive">
                <div>
                    <table id="incidentTable" class="table align-items-center table-dark">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Pinned
                            </th>
                            <th scope="col">
                                Incident Title
                            </th>
                            <th scope="col">
                                Location
                            </th>
                            <th scope="col">
                                Priority
                            </th>
                            <th scope="col">
                                Assigned To

                            <th scope="col">
                                Tasks
                            </th>
                            <th scope="col">
                                Last Updated
                            </th>
                            <th scope="col"></th>

                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for incident in incidents %}
                        <tr data-href="{{ url_for('view_incident', deployment_name=deployment_name, incident_name=incident.name, incident_id=incident.id) }}">
                            <th scope="row">
                                {% if current_user in incident.pinned %}
                                Beep
                                {% else %}
                                Boop
                                {% endif %}
                            </th>
                            <td scope="row">
                                {{ incident.name }}
                            </td>
                            <td scope="row">
                                {{ incident.location }}
                            </td>
                            <td class="status">
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> {{ incident.get_priority() }}
                    </span>
                            </td>
                            <td>
                                {% if incident.assigned_to %}
                                {% for user in incident.assigned_to %}
                                <div class="avatar-group">
                                    <a href="#" class="avatar avatar-sm" data-toggle="tooltip"
                                       data-original-title="{{ user.username }}">
                                        <img alt="Avatar" src="{{ user.get_avatar() }}" class="rounded-circle">
                                    </a>
                                </div>
                                {% endfor %}
                                {% else %}
                                Unassigned
                                {% endif %}
                            </td>
                            <td class="completion">
                                <div class="d-flex align-items-center">
                                    {% if incident.calculate_task_percentage() == None %}
                                    None
                                    {% else %}
                                    <span class="mr-2">{{ incident.calculate_task_percentage() }}%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: {{ incident.calculate_task_percentage() }}%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="status">
                                {{ moment(incident.last_updated).fromNow() }}
                            </td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#">Pin</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js "></script>
<script>
    clock();

    $('#incidentTable').dataTable( {
    "columnDefs": [
        { "orderable": false, "targets": [0,7] }
    ]
    } );

    $(document).on('click', 'td', function () {
        if (!$(this).hasClass('text-right')){
            window.location = $(this).parent().data("href");
        }
    } );


    function clock() {
        setInterval(function() {
            var date = new Date(),
                time = date.toLocaleTimeString();
            $(".clock").html(time);
        }, 1000);
    };
</script>
{% endblock %}