{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/temp.css">
{% endblock %}

{% block heading %}
<div>
    <a href="#flagModal" data-toggle="modal" data-target="#flagModal" class="btn btn-icon-split btn-warning mb-1 mt-2">
        <span class="btn-icon">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Flag To Supervisor</span>
    </a>
    {% if incident.open %}
    <a href="#markCompleteModal" data-toggle="modal" data-target="#markCompleteModal" class="btn btn-icon-split btn-success mb-1 mt-2">
        <span class="btn-icon">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Mark As Complete</span>
    </a>
    {% else %}
    <a href="#markIncompleteModal" data-toggle="modal" data-target="#markIncompleteModal" class="btn btn-icon-split btn-danger mb-1 mt-2">
        <span class="btn-icon">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Mark As Incomplete</span>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Assigned To</div>
                        {% if incident.assigned_to %}
                        {% for user in incident.assigned_to %}
                        <div class="avatar-group">
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip"
                               data-original-title="{{ user }}">
                                <img alt="Avatar" src="{{ user.get_avatar() }}" class="rounded-circle avatar-sm">
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Unassigned</div>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                            <i class="fas fa-users fa-1fourx"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% set percentage = incident.calculate_task_percentage() %}
    {% if percentage != None %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tasks</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ percentage }}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         style="width: {{ percentage }}%" aria-valuenow="{{ percentage }}"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                            <i class="fas fa-tasks fa-1fourx"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Priority</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ incident.get_priority() }}</div>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-car-crash fa-1fourx"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Updated</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ moment(incident.last_updated).fromNow() }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="far fa-clock fa-1fourx"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Incident Overview</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="modal" data-target="#editOverviewModal">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="modal fade" id="editOverviewModal" tabindex="-1" role="dialog"
                         aria-labelledby="editOverviewModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editOverviewLabel">Edit Overview</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="font-weight-bold">{{ incident.name }}</h3>
                <p class="card-text"><b>Location:</b> {{ incident.location }}</p>
                <p class="card-text"><b>Description:</b> {{ incident.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tasks</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle text-success" href="#" role="button" data-toggle="modal" data-target="#addTaskModal">
                        <i class="fas fa-plus"></i>
                    </a>
                    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addTaskLabel">Add Task</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if incident.tasks %}
            <ul class="list-group">
                {% for task in incident.tasks %}
                <li class="list-group-item list-group-flush">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <h6 class="mb-0">
                                <strong>{{ task.name }} </strong><span class="text-xs">Created {{ moment(task.created_at).fromNow() }}</span>
                            </h6>
                            <span class="text-xs">Assigned to {{ task.get_assigned() }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-checkbox" disabled>
                                <input class="edit-margin" id="task{{ task.id }}" type="checkbox"{% if task.completed %} checked{% endif %}{% if current_user not in task.allocated_to %} disabled{% endif %}>
                                <a class="edit-opacity" href="#" role="button" data-toggle="modal" data-target="#editOverviewModal">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
                {% else %}
                <div class="card-body">
                    <p class="card-text">No tasks currently.</p>
                </div>
                    {% endif %}
        </div>
    </div>
</div>
{% endblock %}