{% extends 'base.html' %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block heading %}
<div>
	<!-- TODO Allow non-privileged users to request a status change -->
	{% if incident.open_status %}
	<a id="ChangeIncidentStatus" href="#" class="btn btn-icon-split btn-success mb-1 mt-2">
	    <span class="btn-icon">
	        <i class="fas fa-check"></i>
	    </span>
	    <span id="ChangeIncidentStatusText" class="text">Mark As Complete</span>
	    </a>
	{% else %}
	<a id="ChangeIncidentStatus" href="#" class="btn btn-icon-split btn-info mb-1 mt-2">
	    <span class="btn-icon">
	        <i class="fas fa-check"></i>
	    </span>
	    <span id="ChangeIncidentStatusText" class="text">Mark As Incomplete</span>
	</a>
	{% endif %}
	<a href="#flagModal" class="btn btn-icon-split btn-warning mb-1 mt-2 dropdown-toggle" role="button" id="dropdownFlagMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="btn-icon">
			<i class="fas fa-flag"></i>
		</span>
		<span class="text">Flag</span>
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownPriorityMenu">
		<a class="dropdown-item" href="#" type="submit">User</a>
		<a class="dropdown-item" href="#" type="submit">Supervisor</a>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			{% if current_user.has_permission('change_allocation') %}
			<a class="incident-cog" href="#" role="button" data-toggle="modal" data-target="#changeAllocationModal">
			<i class="fas fa-cog float-right" data-toggle="tooltip" title="Change Allocation"></i>
			</a>
			{% endif %}
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-s font-weight-bold text-primary text-uppercase mb-1">Assigned To</div>
						{% if incident.assigned_to %}
						<div id="AssignedAvatars" class="avatar-group">
							{% for user in incident.assigned_to %}
							{% include 'assigned_to.html' %}
							{% endfor %}
						</div>
						{% else %}
						<div class="h5 mb-0 font-weight-bold text-gray-800">Unassigned</div>
						{% endif %}
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-primary text-white rounded-circle shadow">
							<i class="fas fa-users fa-1fourx"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		{% set priority = incident.get_priority() %}
		{% if priority == 'Standard' %}
		{% set priority_colour = 'warning' %}
		{% elif priority == 'Prompt' %}
		{% set priority_colour = 'orange' %}
		{% else %}
		{% set priority_colour = 'danger' %}
		{% endif %}
		{% if current_user.has_permission('change_priority') %}
		<div id="PriorityBorder" class="card border-left-{{ priority_colour }} shadow h-100 py-2">
			<a id="PriorityCog" class="incident-cog text-{{ priority_colour }}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <i class="fas fa-cog float-right" data-toggle="tooltip" title="Change Priority"></i>
			</a>
			<div id="PriorityDropdown" class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownPriorityMenu">
				<a id="PriorityStandard" class="dropdown-item{% if priority == 'Standard' %} active{% endif %}" href="#" type="submit">Standard</a>
				<a id="PriorityPrompt" class="dropdown-item{% if priority == 'Prompt' %} active{% endif %}" href="#" type="submit">Prompt</a>
				<a id="PriorityImmediate" class="dropdown-item{% if priority == 'Immediate' %} active{% endif %}" href="#" type="submit">Immediate</a>
			</div>
			{% endif %}
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div id="PriorityTitle" class="text-s font-weight-bold text-{{ priority_colour }} text-uppercase mb-1">Priority</div>
						<div id="PriorityText" class="h5 mb-0 font-weight-bold text-gray-800">{{ priority }}</div>
					</div>
					<div class="col-auto">
						<div id="PriorityIcon" class="icon icon-shape bg-{{ priority_colour }} text-white rounded-circle shadow">
							<!-- TODO Add different types of incidents. -->
							<i class="fas fa-exclamation fa-1fourx"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% set percentage = incident.calculate_task_percentage() %}
	{% if percentage != None %}
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-s font-weight-bold text-success text-uppercase mb-1">Tasks</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div id="ProgressPercentage" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ percentage }}%</div>
							</div>
							<div class="col">
								<div class="progress progress-sm mr-2">
									<div class="progress-bar bg-success" role="progressbar"
										style="width: 0%" aria-valuenow="{{ percentage }}"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-success text-white rounded-circle shadow">
							<i class="fas fa-tasks fa-1fourx"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Updated</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{ moment(incident.last_updated).fromNow(refresh=True) }}
						</div>
					</div>
					<div class="col-auto">
						<div class="icon icon-shape bg-warning text-white rounded-circle shadow">
							<i class="far fa-clock fa-1fourx"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-lg-7">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Incident Overview</h6>
				<a href="#" role="button" data-toggle="modal" data-target="#editOverviewModal">
					<i class="fas fa-cog" data-toggle="tooltip" title="Edit Incident Overview"></i>
				</a>
			</div>
			<div class="card-body">
				<h3 class="font-weight-bold">{{ incident.name }}</h3>
				<p class="card-text"><b>Location:</b> {{ incident.location }}</p>
				<p class="card-text"><b>Description:</b> {{ incident.description }}</p>
				<p class="card-text"><b>Reported Via:</b> {{ incident.reporting }}</p>
				<p class="card-text"><b>Logged by:</b> {{ incident.created_by }}</p>
				<p class="card-text"><b>Refrence Number (If Provided):</b> {{ incident.reference }}</p>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Recent Activity</h6>
			</div>
			<div class="card-body bg-light">
				<ul class="activity">
					{% for action in incident.actions|sort(attribute='occurred_at', reverse=True) %}
					<li>
						<div>
							<i class="fas text-gray-300 fa-1fourx fa-plus-circle activity-icon"></i>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object img-profile rounded-circle" src="{{ action.user.get_avatar() }}" alt="Image">
									</a>
								</div>
								<div class="media-body">
									{{ moment(action.occurred_at).fromNow(refresh=True) }}
								</div>
								<span class="card-text"><a href="#">{{ action.user }}</a> {{ action }}.</span>
							</div>
						</div>
                	</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-lg-7">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Tasks</h6>
				<a class="text-success" href="#" role="button" data-toggle="modal" data-target="#addTaskModal">
					<i class="fas fa-plus" data-toggle="tooltip" title="Add Task"></i>
				</a>
			</div>
			{% if incident.tasks %}
			<ul id="Tasks" class="list-group">
				{% for task in incident.tasks|sort(attribute='created_at') %}
				{% include 'task.html' %}
				{% endfor %}
			</ul>
			{% else %}
			<div id="NoTasks" class="card-body">
				<p class="card-text">No tasks currently.</p>
			</div>
			{% endif %}
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Map</h6>
				<div class="custom-switch" data-toggle="tooltip" title="Toggle public visibility">
					<input type="checkbox" class="custom-control-input" id="customSwitch1">
					<label class="custom-control-label" for="customSwitch1"></label>
				</div>
			</div>
			<div class="card-body">
				<div id="map" class="map-container">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block modals %}
<!-- Change Allocation To Modal -->
<div class="modal fade" id="changeAllocationModal" tabindex="-1" role="dialog" aria-labelledby="editAssignedToModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Change Allocation</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="changeAllocationForm" method="post" role="form">
							<div class="form-group mb-3">
								<select id="ChangeAllocationSelect" name="users" multiple="multiple" style="width: 100%">
									<option value="0"></option>
									{% for group in groups %}
									<optgroup label="{{ group[0] }}">
										{% for user in group[1] %}
										<option {% if user in incident.assigned_to %}selected {% endif %}value="{{ user.id }}" data-avatar-url="{{ user.get_avatar() }}">{{ user }}</option>
										{% endfor %}
									</optgroup>
									{% endfor %}
								</select>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Edit Overview Modal -->
<div class="modal fade" id="editOverviewModal" tabindex="-1" role="dialog" aria-labelledby="editOverviewModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editOverviewLabel">Edit Overview</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card shadow">
					<div class="card-header py-3 d-flex align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Add Task</h6>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="card-body">
						<form id="addTaskForm" method="post" role="form">
							<div class="form-group mb-3">
								<input class="form-control was-validated" name="name" placeholder="Task Name" type="text" required>
							</div>
							<div class="form-group mb-3">
								<select id="AssignTaskSelect" name="users" multiple="multiple" style="width: 100%">
									<option value="0"></option>
									{% for group in groups %}
									<optgroup label="{{ group[0] }}">
										{% for user in group[1] %}
										<option value="{{ user.id }}" data-avatar-url="{{ user.get_avatar() }}">{{ user }}</option>
										{% endfor %}
									</optgroup>
									{% endfor %}
								</select>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary my-4">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	var current_percentage = parseInt(($('#Tasks :checked').length/$('#Tasks :checkbox').length)*100)

	<!-- TODO Update last updated on AJAX calls -->
	function progressBar(current_percentage) {
	    var percentage = parseInt(($('#Tasks :checked').length/$('#Tasks :checkbox').length)*100)
	    if (current_percentage == percentage) {return;}
	    $('#ProgressPercentage').text(percentage + '%')
	    $('.progress-bar').width(percentage + '%')
	    $('.progress-bar').removeClass(function (index, css) {
	        return (css.match (/\bbg-\S+/g) || []).join(' ');
	    })
	    if (percentage >= 80) {
	       $('.progress-bar').addClass("bg-success");
	    } else if (percentage >= 50) {
	        $('.progress-bar').addClass("bg-orange");
	    } else if (percentage >= 25) {
	        $('.progress-bar').addClass("bg-warning");
	    } else {
	        $('.progress-bar').addClass("bg-danger");
	    }
	}

	//TODO
	var csrf_token = "{{ csrf_token() }}";
	$('#addTaskForm').submit( function(e) {
	   e.preventDefault();
	   $('#addTaskModal').modal('hide')

	   $.ajax({
	       data: $('#addTaskForm').serialize(),
	       type: "POST",
	       url: "{{ url_for('add_task', deployment_name=deployment_name, incident_name=incident.name, incident_id=incident.id) }}",
	       beforeSend: function(xhr, settings) {
	            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
	                xhr.setRequestHeader("X-CSRFToken", csrf_token)
	            }
	        },
	       success: function(data){
	           $('#addTaskForm').get(0).reset()
	           if ($('#NoTasks').length) {
	                $('#NoTasks').remove()
	           }
	           $('#Tasks').append(data['html'])
	           flask_moment_render_all()
	           progressBar();
	       },
	       error: function(data) {
	            console.log(data);
	       }
	   });
	 });

	$('#changeAllocationForm').submit( function(e) {
	    e.preventDefault();
	    $('#changeAllocationModal').modal('hide')

	    $.ajax({
	       data: $('#changeAllocationForm').serialize(),
	       type: "POST",
	       url: "{{ url_for('change_allocation', deployment_name=deployment_name, incident_name=incident.name, incident_id=incident.id) }}",
	       beforeSend: function(xhr, settings) {
	            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
	                xhr.setRequestHeader("X-CSRFToken", csrf_token)
	            }
	        },
	       success: function(data){
	           $('#changeAllocationForm').get(0).reset()
	           $('#AssignedAvatars').empty()
	           for (var i = 0; i < data['html'].length; i++) {
	                $('#AssignedAvatars').append(data['html'][i])
	            }
	       },
	       error: function(data) {
	           console.log(data);
	       }
	    });
	});

	$('#ChangeIncidentStatus').click( function(e) {
		e.preventDefault();
	    $.ajax({
	       data: {'status': $('#ChangeIncidentStatus').hasClass('btn-info') ? 1 : 0},
	       type: "POST",
	       url: "{{ url_for('change_incident_status', deployment_name=deployment_name, incident_name=incident.name, incident_id=incident.id) }}",
	       beforeSend: function(xhr, settings) {
	            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
	                xhr.setRequestHeader("X-CSRFToken", csrf_token)
	            }
	        },
	       success: function(data){
	           if (data['status']) {
	              $('#ChangeIncidentStatus').removeClass('btn-info').addClass('btn-success')
	              $('#ChangeIncidentStatusText').text('Mark as Complete')
	           } else {
	                $('#ChangeIncidentStatus').removeClass('btn-success').addClass('btn-info')
	                $('#ChangeIncidentStatusText').text('Mark as Incomplete')
	           }
	       },
	       error: function(data) {
	           console.log(data);
	       }
	    });
	});

    $('#PriorityDropdown a').click(function (e) {
        e.preventDefault();
        var old_priority = $('#PriorityText').text()
        $.ajax({
			data: {'priority': $(this).text()},
			type: "POST",
			url: "{{ url_for('change_incident_priority', deployment_name=deployment_name, incident_name=incident.name, incident_id=incident.id) }}",
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token)
				}
			},
			success: function(data){
				var colours = {'Immediate': 'danger', 'Prompt': 'orange', 'Standard': 'warning'}
				$('#PriorityBorder').removeClass('border-left-' + colours[old_priority])
				$('#PriorityCog').removeClass('text-' + colours[old_priority])
				$('#PriorityTitle').removeClass('text-' + colours[old_priority])
				$('#PriorityIcon').removeClass('bg-' + colours[old_priority])
				$('#Priority' + old_priority).removeClass('active')
				$('#PriorityText').text(data['priority'])
				$('#PriorityBorder').addClass('border-left-' + colours[data['priority']])
				$('#PriorityCog').addClass('text-' + colours[data['priority']])
				$('#PriorityTitle').addClass('text-' + colours[data['priority']])
				$('#PriorityIcon').addClass('bg-' + colours[data['priority']])
				$('#Priority' + data['priority']).addClass('active')
			},
			error: function(data) {
				console.log(data);
			}
	    });
    });

	$('#Tasks :checkbox').change(function () {
	    if ($(this).prop('disabled')) {return;}
	    var id = $(this).val();
	    var completed = $(this).is(':checked');
	    $.ajax({
	       data: {'id': parseInt(id), 'completed': completed ? 1 : 0},
	       type: "POST",
	       url: "{{ url_for('change_task_status', deployment_name=deployment_name, incident_name=incident.name, incident_id=incident.id) }}",
	       beforeSend: function(xhr, settings) {
	            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
	                xhr.setRequestHeader("X-CSRFToken", csrf_token)
	            }
	        },
	       success: function(data) {
	            if (completed) {
	                $('#TaskRow' + id).addClass('text-muted');
	                $('#TaskDate' + id).html('Completed ' + data['timestamp'])
	            } else {
	                $('#TaskRow' + id).removeClass('text-muted');
	                $('#TaskDate' + id).html('Created ' + data['timestamp'])
	            }
	            flask_moment_render_all()
	            progressBar();
	       },
	       error: function(data) {
	            console.log(data);
	       }
	   });
	});

	function format(state) {
	    if (!state.id) return state.text;
	    return $("<span><img class='rounded-circle avatar-sm' src='" + $(state.element).data('avatar-url') + "'/> " + state.text + "</span>");
	}

	$(document).ready(function() {
	progressBar();
	$('#AssignTaskSelect').select2({
	    allowClear: true,
	    placeholder: {id:'0', text:'Assign to users, not required'},
	    templateResult: format,
	    templateSelection: format,
	});
	$('#ChangeAllocationSelect').select2({
	    allowClear: true,
	    placeholder: {id:'0', text:'Choose which users to allocate this incident to'},
	    templateResult: format,
        templateSelection: format,
	});
	});
</script>
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 55.872326, lng: -4.288094};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_MAPS_API_KEY'] }}&callback=initMap"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}