{% set priority = incident.get_priority() %}
{% if priority == 'Standard' %}
{% set priority_colour = 'warning' %}
{% elif priority == 'Prompt' %}
{% set priority_colour = 'orange' %}
{% else %}
{% set priority_colour = 'danger' %}
{% endif %}
<li id="Incident{{ incident.id }}" class="list-group-item list-group-flush border-left-{{ priority_colour }}" data-incident-id="{{ incident.id }}">
    <div class="row align-items-center no-gutters">
        <div class="col mr-2">
            <h6 class="mb-0">
                <strong>{{ incident.name }} </strong>
            </h6>
                <p id="IncidentDate{{ incident.id }}" class="text-xs text-muted">Created {{ moment(incident.created_at).fromNow(refresh=True) }}</p>
            <span class="text-xs">{{ incident.description }}</span>
        </div>
    </div>
    <ol class="map-card-actions-list list-unstyled">
        {% if (incident.tasks) or (incident.comments) %}
        <li class="map-card-actions">
        {% endif %}
        {% if incident.tasks %}
        <i class="fas fa-tasks"></i>
            <span class="map-card-actions-text">{{ incident.task_string() }}</span>
        {% endif %}
        {% if incident.comments %}
        <i class="far fa-comment"></i>
            <span class="map-card-actions-text">{{ incident.comments|length }}</span>
        {% endif %}
        {% if (incident.tasks) or (incident.comments) %}
        </li>
        {% endif %}
        {% if incident.assigned_to %}
        <ol class="map-card-assigned-to list-unstyled">
            <div id="AssignedAvatars" class="avatar-group">
                {% for user in incident.assigned_to %}
                {% include 'assigned_to.html' %}
                {% endfor %}
            </div>
        </ol>
        {% endif %}
    </ol>
</li>
