<li id="TaskRow{{ task.id }}" class="list-group-item list-group-flush{% if task.completed %} text-muted{% endif %}" value="{{ task.id }}">
    <div class="row align-items-center no-gutters">
        <div class="col mr-2">
            <h6 class="mb-0">
                <strong>{{ task.name }} </strong><span id="TaskDate{{ task.id }}" class="text-xs">{% if task.completed %}Completed {{ moment(task.completed_at).fromNow(refresh=True) }}{% else %}Created {{ moment(task.created_at).fromNow(refresh=True) }}{% endif %}</span>
            </h6>
            {% set assigned_to = task.get_assigned() %}
            {% if assigned_to %}
            <span id="Task{{ task.id }}Assigned" class="text-xs">Assigned to {{ assigned_to }}</span>
            {% endif %}
        </div>
        <div class="col-auto">
            <div>
                <input class="task-checkbox {% if task.completed %}text-success{% endif %}" id="Task{{ task.id }}" type="checkbox" {% if task.completed %}checked{% endif %}>
            </div>
        </div>
    </div>
     <ol class="map-card-actions-list list-unstyled">
        {% if (task.subtasks) or (task.comments) %}
        <li class="map-card-actions">
        {% endif %}
        {% if task.subtasks %}
        <i class="fas fa-tasks" data-toggle="tooltip" title="Sub-Tasks"></i>
            <span class="map-card-actions-text">{{ task.subtask_string() }}</span>
        {% endif %}
        {% if task.comments %}
        <i class="far fa-comment" data-toggle="tooltip" title="Comments"></i>
            <span class="map-card-actions-text">{{ task.comments|length }}</span>
        {% endif %}
        {% if (task.subtasks) or (task.comments) %}
        </li>
        {% endif %}
    </ol>
</li>
