.badge-dot i {
  display: inline-block;
  vertical-align: middle;
  width: .375rem;
  height: .375rem;
  border-radius: 50%;
  margin-right: .375rem;
}

.avatar-sm {
  width: 26px;
  height: 26px;
  font-size: 0.875rem;
  display: inline-block;
}

.avatar-group .avatar {
  position: relative;
  z-index: 2;
}

.avatar-group .avatar:hover {
  z-index: 3;
}

.avatar-group .avatar+.avatar {
  margin-left: -0.7rem;
}

.bg-dark-blue {
  background: #1c1e2f;
}

.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}
.icon {
  width: 3rem;
  height: 3rem;
}

.fa-1fourx {
  font-size: 1.4em;
}

.btn.btn-icon-split {
  margin-right: 0.2rem;
}

.btn-opacity {
  opacity: 0.7;
  margin-left: 5px;
}

.btn-opacity:hover {
  cursor: pointer;
  opacity: 1;
}

.deployments_brand_img {
  height: 80%;
}

.incident-cog {
  margin-bottom: -1.2rem;
  margin-right: 0.4rem;
  z-index: 100;
}

.incident-cog:hover {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.task:hover,
.incident-card:hover,
tbody > tr:hover {
  cursor: pointer;
  background-color: #f6f8fe !important;
}

.subtask:first-child {
  border-radius: 10px 10px 0px 0px;
}

.subtask:last-child {
  border-radius: 0px 0px 10px 10px;
}

/*!
Copyright (c) 2019 by LEON (https://codepen.io/cppleon/pen/akwdWv)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


MODIFIED VERSION
*/

.activity {
  padding-left: 40px;
  list-style: none;
  position: relative;
}
.activity .media {
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.025);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.025);
}
.media-object {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  box-shadow: 0 0 0 1px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
}

.update-body,
.media-body {
  position: absolute;
  top: 0px;
  right: -10px;
  padding: 5px 10px;
  font-size: 10px;
  color: #fff;
  background-color: #367fec;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.update-body {
    top:-12px !important;
}

.activity .media span{
    margin-top: 6px;
}
.activity .media-body p:last-child {
  margin-bottom: 0;
}
.activity > li {
  position: relative;
}

.activity > li > div .media::before {
  content: '';
  position: absolute;
  top: 43px;
  left: -25px;
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border: 2px solid #367fec;
  z-index: 1;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: top, left, width, height, border-color;
  transition-property: top, left, width, height, border-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.activity > li > div + div .media::before {
  border-color: #4caf50;
}
.activity > li > div .media:hover::before,
.activity > li > div + div .media:hover::before {
  border-color: #0061f2;
}

.activity > li:not(:last-child) > div:before, .activity > li:last-child > div:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 53px;
  left: -20px;
  height: 100%;
  border: 1px solid #e8e8e8;
}
.activity > li:not(:last-child) > div:not(:last-child):before, .activity > li:last-child > div:not(:last-child)::before {
  border-style: dashed;
}
.activity > li > div {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.activity > li > div::after {
  content: '';
  position: absolute;
  top: 43px;
  left: -6px;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #fff transparent transparent;
}

.update-log-text:hover .update-body,
.activity > li > div:hover .media-body {
  background-color: #0061f2;
}

.activity > li > div:hover i::before{
 color: #0061f2 !important;
}

.activity-icon {
    position: absolute;
    left: -61px;
    top: 37px;
}

@media (max-width: 767px) {
  .activity {
    padding-left: 30px;
  }
  .activity > li::before {
    margin-right: auto;
    -webkit-transform: rotate(-90deg) translate(50%, -20px);
    transform: rotate(-90deg) translate(50%, -20px);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

.btn-info.dropdown-toggle::after,
.btn-warning.dropdown-toggle::after {
    margin-top: 16px;
    margin-right: 8px;
}

.form-check-label.text-muted {
    float: left;
    margin-left: -20px;
    margin-right: 30px;
}

.map-container{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 70vh;
}

.map-container-incident {
    overflow:hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 300px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}


.map-container iframe{
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

li.update-log,
li.message-right {
  position: relative;
  display: flow-root list-item;
  margin-bottom: 30px;
}

.update-log-avatar {
  width: 40px;
}

li.update-log > .update-log-avatar {
  float: left;
}

.update-log-name {
  font-size: 0.6em;
  text-align: center;
}

.update-log-text {
  max-width: calc(100% - 60px);
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
  color: #263959;
  box-shadow: 0 0 0 1px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
}

li.update-log > .update-log-text {
  text-align: left;
  left: 16px;
  margin-left: 60px;
}

.update-log-text:before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: 13px;
}

li.update-log > .update-log-text:before {
  left: 44px;
  border-color: transparent #fff transparent transparent;
}

.select2-search__field {
  width: 300% !important;
}

.map-height {
  max-height: 70vh;
}

.incident-card-actions-list {
  display: flex;
  align-items: center;
}

.incident-card-actions i {
  color: #858796;
  margin-right: .5rem;
}

.incident-card-actions div {
  margin-right: 8px;
  display: inline-block;
}

.incident-card-actions-text {
  color: #858796;
  font-size: .8rem;
  margin-left: -.1rem;
  margin-right: .5rem;
}

.incident-card-assigned-to {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: .25rem;
  width: 28px;
  height: 28px;
}

.leaflet-popup {
  margin-bottom: 60px;
}

.leaflet-popup-tip-container,
.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
    margin: 0px !important;
}

.leaflet-popup-content-wrapper {
    padding: 0px !important;
}

.clock-text {
  display: inline-block;
  list-style-type: none;
  padding-right: 0.4em;
  text-transform: uppercase;
  font-weight: 550;
}

.clock-time {
  display: block;
}

.font-smaller {
  font-size: smaller;
}

/*
Copyright (c) 2019 by Jase (https://codepen.io/jasesmith/pen/EeVmWZ)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

input[type=checkbox],
input[type=radio] {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: inherit;
  width: 1em;
  margin: 0;
  color: inherit;
  outline: none;
  font-family: 'Font Awesome 5 Free';
  transition: 300ms ease-out;
}

input[type=checkbox]::after,
input[type=radio]::after {
  content: '\f111';
  display: inline-block;
  text-align: center;
  width: 1em;
}

input[type=checkbox]:checked::after,
input[type=radio]:checked::after {
  font-weight: 900;
}

input[type=checkbox]:active,
input[type=radio]:active {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

input[type=checkbox] + span,
input[type=radio] + span {
  margin-left: .35em;
}

input[type=checkbox]:checked::after {
  content: '\f058';
}

input[type=radio]:checked::after {
  content: '\f192';
}

input[type="checkbox"]:hover:not([disabled]), input[type="radio"]:hover {
  cursor: pointer;
}

.list-inline > li {
  display: inline-block;
}

.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}

.VueTables__child-row-toggler--closed::before {
  content: "+";
}

.VueTables__child-row-toggler--open::before {
  content: "-";
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 8px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 10px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.width-110 {
  width: 110%;
}

.width-15 {
  width: 15rem;
}

h6 > .text-xs {
  white-space: nowrap;
}

h6 > input {
  width: 60%;
}

.d-flex > .multiselect {
  max-width: 60%;
  margin-left: 1.4rem;
  margin-top: 5px;
}

.multiselect__single {
  display: none !important;
}

.multiselect__clear {
  position: absolute;
  right: 41px;
  height: 40px;
  width: 40px;
  display: block;
  cursor: pointer;
  z-index: 2;
}

.multiselect__clear::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 16px;
  background: #aaa;
  top: 12px;
  right: 4px;
  transform: rotate(-45deg);
}

.multiselect__clear::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 16px;
  background: #aaa;
  top: 12px;
  right: 4px;
  transform: rotate(45deg);
}

.menubar {
  margin-bottom: 1rem;
  transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
  width: 120%;
}
.menubar.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.menubar.is-focused {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s;
}
.menubar__button {
  font-weight: bold;
  display: inline-flex;
  background: transparent;
  border: 0;
  color: #000000;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}
.menubar__button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.menubar__button.is-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.menubar span.menubar__button {
  font-size: 13.3333px;
}

.editor {
  position: relative;
  max-width: 95%;
}

.editor__content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.editor__content * {
  caret-color: currentColor;
}

.editor__content pre {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  font-size: 0.8rem;
  overflow-x: auto;
}

.editor__content pre code {
  display: block;
}

.editor__content p code {
  display: inline-block;
  padding: 0 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.editor__content ul,
.editor__content ol {
  padding-left: 1rem;
}

.editor__content li > p,
.editor__content li > ol,
.editor__content li > ul {
  margin: 0;
}

.editor__content blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  padding-left: 0.8rem;
  font-style: italic;
}

.editor__content blockquote {
  margin: 0.5rem 0;
}

.editor__content img {
  max-width: 100%;
  border-radius: 3px;
}

.editor__content table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.editor__content table td, .editor__content table th {
  min-width: 1em;
  border: 2px solid #dddddd;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.editor__content table td > *, .editor__content table th > * {
  margin-bottom: 0;
}

.editor__content table th {
  font-weight: bold;
  text-align: left;
}

.editor__content table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

.editor__content table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.editor__content .tableWrapper {
  margin: 1em 0;
  overflow-x: auto;
}

.editor__content .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.menububble {
  position: absolute;
  display: flex;
  z-index: 20;
  background: #000000;
  border-radius: 5px;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.menububble.is-active {
  opacity: 1;
  visibility: visible;
}

.menububble__button {
  display: inline-flex;
  background: transparent;
  border: 0;
  color: #ffffff;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.menububble__button:last-child {
  margin-right: 0;
}

.menububble__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menububble__button.is-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.menububble__form {
  display: flex;
  align-items: center;
}

.menububble__input {
  font: inherit;
  border: none;
  background: transparent;
  color: #ffffff;
}

ul[data-type=todo_list] {
  padding-left: 0;
}

li[data-type=todo_item] {
  display: flex;
  flex-direction: row;
}

.todo-checkbox {
  border: 2px solid #000000;
  height: 0.9em;
  width: 0.9em;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 0.3rem;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 0.2em;
  background-color: transparent;
  transition: 0.4s background;
}

.todo-content {
  flex: 1;
}
.todo-content > p:last-of-type {
  margin-bottom: 0;
}
.todo-content > ul[data-type=todo_list] {
  margin: 0.5rem 0;
}

li[data-done=true] > .todo-content > p {
  text-decoration: line-through;
}
li[data-done=true] > .todo-checkbox {
  background-color: #000000;
}

li[data-done=false] {
  text-decoration: none;
}

.editor .is-editor-empty.is-empty:nth-child(1)::before,
.editor .is-editor-empty.is-empty:nth-child(2)::before {
  content: attr(data-empty-text);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
  font-style: italic;
}

.ProseMirror {
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  outline: 0;
}

.ProseMirror p {
  margin-bottom: 0px;
}

.edit-comment {
  width: 98%;
}

.comment-box-empty > .ProseMirror {
  border: 1.5px solid #f44336 !important;
}

.comment-icon {
  top: -30px;
  left: 25px;
  position: relative;
}

.comment-cancel-icon {
  top: -30px;
  left: 36px;
  position: relative;
}

.fas.fa-paper-plane:hover:not(.comment-empty) {
  cursor: pointer;
  color: #0061f2;
}

.subtask-edit {
  margin-top: 15px;
}

.fas.fa-check.hover:hover:not(.comment-empty) {
  cursor: pointer;
  color: #02df90 !important;
}

.fas.fa-times:hover {
  cursor: pointer;
  color: #f44336 !important;
}

.comment-empty:hover {
  cursor: pointer;
  color: #f44336 !important;
}

.update-log-text > .editor__content > .ProseMirror {
  padding: 0px;
  border: none;
}

.fas.fa-ellipsis-v {
  font-size: 0.9em;
}

.fas.fa-ellipsis-v:hover {
  cursor: pointer;
}

.comment-public-text {
  background-color: #f8f9fc7a;
  padding: 12px;
  border-radius: 6px;
  color: #263959;
  box-shadow: 0 0 0 1px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
}

.editor__content.comment-public-text p{
  margin-bottom: 0px !important;
}

.delete-subtask {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  margin: 1.5rem 0px !important;
  box-shadow: 0 0 0 1px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
}

.half-opacity {
  opacity: 0.5
}

.update-log-text:hover + .half-opacity {
  opacity: 1
}

.multiselect__tags:hover {
  cursor: pointer;
}

.hover-primary:hover {
  color: #0061f2 !important;
  cursor: pointer;
}

.hover-danger:hover {
  color: #f44336 !important;
  cursor: pointer;
}

.form-control-plaintext:hover {
  cursor: pointer;
}

/*
Copyright (c) 2020 by Esko Cruzeta (https://codepen.io/EskoCruz/pen/OVgZqX)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.beacon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1
}

.beacon:before,
.beacon:after {
  position: absolute;
  content: "";
  height: 3em;
  width: 3em;
  bottom: 3px;
  left: 4px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-animation: active 2s infinite linear;
  -moz-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
}

.beacon-Standard.beacon::before,
.beacon-Standard.beacon::after {
  box-shadow: 0 0 0 3px #f9ce2f;
}

.beacon-Prompt.beacon::before,
.beacon-Prompt.beacon::after {
  box-shadow: 0 0 0 3px #ff8300;
}

.beacon-Immediate.beacon::before,
.beacon-Immediate.beacon::after {
  box-shadow: 0 0 0 3px #f44336;
}

.beacon:after {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes active {
  0% {
    transform: scale(.1);
    transform: box-shadow(0px 0px 0px 1px #ed1f34);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

div .marker {
  transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
  transform-origin: 50% 50%;
  border-radius: 50% 50% 50% 0;
  padding: 0 3px 3px 0;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 800%;
  left: -150%;
  margin: -2.2em 0 0 -1.3em;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
  border-bottom: 2px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-left: 2px solid #fff;
}

.marker > i {
  transform: perspective(40px) rotateZ(45deg);
  position: relative;
  top: 7px;
  left: 1.25px;
}

.bl-1 {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.b-radius-0 {
  border-radius: 0;
}

.font-size-75.fa-circle {
  font-size: 60%;
  position: relative;
}

.font-size-75.fa-circle::before {
  position: relative;
  bottom: 1.5px;
}

.nav-link:hover {
  font-weight: 700;
}

.leaflet-popup-content > .card {
  border: none;
}

.d-flex > .custom-switch {
  position: relative;
  top: 4px;
}

.beacon-leaflet {
  z-index: -1 !important;
}

.sidebar-brand > img {
  width: -webkit-fill-available;
}

.VueTables > .row > div {
  display: flex;
}

.VueTables__limit {
  position: absolute;
  right: 15px;
}

.navbar-search-results {
  z-index: 9999;
  border-bottom-left-radius: 0;
}

.search-results > ul {
  width: 360px;
}

@media (max-width: 768px) {
  .search-results {
    position: absolute;
    left: 72px;
    top: 53px;
    background-color: white;
    z-index: 10000;
    overflow-y: auto;
    max-height: 20em;
    border-radius: 0px 0px 6px 6px;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.VuePagination {
  display: block;
}

.VuePagination__pagination {
  justify-content: center;
}

.search-results > .mb-4 > .incident-card {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.search-results > .mb-4 > .incident-card:first-child {
  border-top: none;
}

.VueTables__search__input {
  margin-left: 2px;
}

.hover:hover {
  cursor: pointer;
}

.full-length {
  width: 100%;
}

.VueTables__child-row-toggler:hover,
.far.fa-bookmark:hover {
  color: black;
}
